# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,golden_helmet=14,easycoloredlights:easycoloredlightsCLStone=-1,ExtraUtilities:magnumTorch=12,TConstruct:decoration.stonetorch=12,GraveStone:GSCandle=12,diamond=8,emerald=8,blaze_rod=10,blaze_powder=10,magma_cream=5,potion=8,ExtraUtilities:divisionSigil=10,Forestry:beeDroneGE=5,Forestry:beeQueenGE=5,Forestry:beePrincessGE=5

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=500
}


